body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
  background: #000000;
}

p {
    color: #ffffff;
}

.pic {
  width: auto;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.pic:hover {
  transform: scale(1.05);
}
